In [1]:
import pandas as pd
import numpy as np
import json
import dlite

In [2]:
df = pd.read_csv('test_oktober.csv', encoding = "ISO-8859-1", sep=';', parse_dates=['Timestamp'], header = 0).iloc[::6]

In [3]:
df2=df.iloc[18000:18005,40:45]
df2.reset_index(inplace=True)
df2.rename(columns={"MPP \u00b9 [W] (Alpha Centauri - M3-MS04)": "MPP_MS04",
           "MPP \u00b9 [W] (Alpha Centauri - M4-MS05)": "MPP_MS05",
           "MPP \u00b9 [W] (Alpha Centauri - M4-MS06)": "MPP_MS06",
           "MPP \u00b9 [W] (Alpha Centauri - M1-MS07)": "MPP_MS07",
           "MPP \u00b9 [W] (Alpha Centauri - M1-MS08)": "MPP_MS08"}, inplace=True)
df2 = df2.drop('index',axis=1)
df2.insert(0,"time",df.iloc[40:45,0])

In [4]:
df.iloc[40:45,0]

240   2022-08-01 00:41:00
246   2022-08-01 00:42:00
252   2022-08-01 00:43:00
258   2022-08-01 00:44:00
264   2022-08-01 00:45:00
Name: Timestamp, dtype: datetime64[ns]

In [5]:
df2

  time  MPP_MS04  MPP_MS05  MPP_MS06  MPP_MS07  MPP_MS08
0  NaT    38.182    42.598    37.890    32.873    22.310
1  NaT    37.029    40.804    36.114    31.865    21.063
2  NaT    37.387    40.428    35.729    30.950    19.801
3  NaT    39.107    41.764    36.945    30.509    19.247
4  NaT    40.179    43.074    38.184    30.796    19.662

In [6]:
df2.to_csv('data.csv')

In [7]:
csv = dlite.Instance.from_url(f'csv://data.csv')

In [8]:
csv.uuid

'1aa261c1-6a68-4260-bff2-af16965025c6'

In [9]:
import dlite

In [21]:
Entity_method2_1 = dlite.Instance.from_location('json','myEntity.json')
Entity_method3_1 = dlite.Instance.from_location('json','myEntity_3.json')

In [22]:
Entity_method3_1.uri

'http://www.ontotrans.eu/0.1/solarPanelMeasurement'

In [11]:
dlite.storage_path.append('myEntity.json')
dlite.storage_path.append('myEntity_3.json')

In [23]:
Entity_method2_2 = dlite.get_instance("http://www.ontotrans.eu/0.1/solarPanelMeasurement_2")

Entity_method3_2 = dlite.get_instance("http://www.ontotrans.eu/0.1/solarPanelMeasurement")

## tips på tutorialen: bruk json bibliotek

## jesper hjælp

what if 2

In [39]:
e = Entity_method2_2(dims=[5])

In [57]:
print(e)

{
  "uuid": "08af9dd5-43b6-4528-b32f-bfd29f06297e",
  "meta": "http://www.ontotrans.eu/0.1/solarPanelMeasurement_2",
  "dimensions": {
    "N": 5
  },
  "properties": {
    "t": [
      0.0,
      0.0,
      0.0,
      0.0,
      0.0
    ],
    "MPP": [
      0.0,
      0.0,
      0.0,
      0.0,
      0.0
    ]
  }
}

In [47]:
e.properties["t"] = df2.iloc[:,0]

In [49]:
df2.iloc[:,0]

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: time, dtype: datetime64[ns]

In [52]:
test=[1,2,3,4,5]

In [55]:
e.properties["t"]=test

In [56]:
print(e.properties["t"])

[0. 0. 0. 0. 0.]

In [34]:
Entity_method3_2_csv2 = dlite.Instance.from_url(f'csv://data.csv',metaid=e.uuid)

** Error 1: ebd1ca18-d457-4ef0-b99c-7dd1ebdcdada has 5 dimensions

DLiteError: Error 1: ebd1ca18-d457-4ef0-b99c-7dd1ebdcdada has 5 dimensions

In [25]:
Entity_method3_2_csv = dlite.Instance.from_url(f'csv://data.csv')

In [27]:
print(Entity_method3_2_csv)

{
  "uuid": "9a5fd68e-0c7a-4f38-bd6a-a77342639341",
  "meta": "http://onto-ns.com/meta/1.0/generated_from_csv_a4d2c1e71d162a27d725c9efea96d0e379e74f77390717a182f41fa2e723c9b6",
  "dimensions": {
    "rows": 5
  },
  "properties": {
    "Unnamed:_0": [
      0,
      1,
      2,
      3,
      4
    ],
    "time": [
      NaN,
      NaN,
      NaN,
      NaN,
      NaN
    ],
    "MPP_MS04": [
      38.182,
      37.029,
      37.387,
      39.107,
      40.179
    ],
    "MPP_MS05": [
      42.598,
      40.804,
      40.428,
      41.764,
      43.074
    ],
    "MPP_MS06": [
      37.89,
      36.114,
      35.729,
      36.945,
      38.184
    ],
    "MPP_MS07": [
      32.873,
      31.865,
      30.95,
      30.509,
      30.796
    ],
    "MPP_MS08": [
      22.31,
      21.063,
      19.801,
      19.247,
      19.662
    ]
  }
}